*{
    background-color: rgb(255, 241, 223);
}
label{
    font-size: 20px;
    float: left;
}
input{
    padding: 10px;
    padding-top: 20px;
}
form{
    border: 10px dashed red;
    width: 60%;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
    padding: 30px;
}
#check{
    float: left;
}
h1{
    color: rgb(27, 27, 209);
    font-size: 50px;
    font-weight: bolder;
    font-family: fantasy;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
}
button{
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(188, 129, 243);
    border-radius: 30%;
    border:5px solid rgb(221, 13, 193) ;
}
u{
    font-weight : bolder;
}